body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    display: flex;
    height: 100%;
}

.container canvas{
    flex: 1;
    background-color: rgb(31, 30, 30);
}

p{
    word-wrap: break-word;
}